@model EmplyeeSystem.Web.ViewModels.Employees.EmployeeDetailsViewModel
@using EmplyeeSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            h3 {
                text-align: center;
            }
        </style>
        </head>
    <body>
        <div class="row space-top">
            <div class="col-md-12">
                <h1>Employee details</h1>
            </div>
        </div>
        <div class="row space-top">
            <div class="col-md-4">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h2>@Model.Name</h2>
                    </div>
                </div>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <hr />
                    @if (Model.CommentToEdit.Content == null)
                    {
                        <h5>Write comment:</h5>
                        <form asp-controller="Comment" asp-action="Create" method="post">
                            <textarea class="col-md-12" name="content"></textarea>
                            <input value="@Model.Id" name="employeeId" hidden />
                            <input value="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" name="authorId" hidden />
                            <div class="form-row">
                                <div class="col-md-9"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success righ">Send</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <h5>Edit comment:</h5>
                        <form asp-controller="Comment" asp-action="Edit" method="post">
                            <textarea class="col-md-12" name="content" >@Model.CommentToEdit.Content</textarea>
                            <input value="@Model.CommentToEdit.Id" name="commentId" hidden />
                            <div class="form-row">
                                <div class="col-md-9"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-warning righ">Edit</button>
                                </div>
                            </div>
                        </form>
                    }

                }
            </div>
            <div class="col-md-4">
                <p>Department: <span>@Model.Department</span></p>
                <p>Job title: <span>@Model.JobTitle</span></p>
                <p>Address: <span>@Model.Address</span></p>
                <p>Salary: <span>@Model.Salary.ToString("F2")$</span></p>
                <p>Joined on: <span>@Model.JoinedOn</span></p>
                <p>Manager: <span>@Model.ManagerName</span></p>
                @if (this.SignInManager.IsSignedIn(this.User) && Model.AuthorId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <div>
                        <a class="btn btn-info" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="">
            <h3>Commnets</h3>
        </div>
        @foreach (var comment in Model.Comments)
        {
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Author: @comment.AuthorUserName</h6>
                    <p class="card-text">@comment.Content</p>
                    @if (this.SignInManager.IsSignedIn(this.User) && comment.AuthorId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <div class="float-right">
                            <a class="btn btn-info" asp-controller="Employee" asp-action="Details" asp-route-commentId="@comment.Id" asp-route-id="@Model.Id">Edit</a>
                            <a class="btn btn-danger" asp-controller="Comment" asp-action="Delete" asp-route-commentId="@comment.Id">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
    </body>
</html>
